{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "singleAttributePerLine": true,
    "trailingComma": "es5",
    "useTabs": true
}
